#!/bin/bash

set -e

GREEN='\033[0;32m'
RED='\033[0;31m'
YELLOW='\033[0;33m'
NC='\033[0m'

DEFAULT_SECRET='{{lookup('password', './settings/passwords/snibox_secret_key chars=digits')}}'

function report_status() {
  if [ $? -eq 0 ]
  then
    echo -e "${GREEN}Done${NC}"
  else
    echo -e "${RED}Unable to complete task${NC}"
    exit 1
  fi
}

echo -e "\nPull images:"
docker-compose -f docker-compose.snibox.yml pull
report_status

echo -e "\nInject secret key:"
if grep -Rq "$DEFAULT_SECRET" .env
then
  secret=$(docker-compose -f docker-compose.snibox.yml run --rm --no-deps backend ./bin/rake secret)
  echo "$secret"
  # based on https://stackoverflow.com/a/22084103
  sed -i.bak "s/$DEFAULT_SECRET/$secret/" .env
  rm .env.bak
  report_status
else
  echo -e "${GREEN}Personal secret key exists${NC}"
fi

echo -e "\nCreate database:"
docker-compose -f docker-compose.snibox.yml run --rm backend ./bin/rake db:create
report_status

echo -e "\nRun migrations:"
docker-compose -f docker-compose.snibox.yml run --rm backend ./bin/rake db:migrate
report_status

echo -e "\n${GREEN}Setup completed!${NC}"